<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-task-heading">Create or edit a Task</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_question">Question</label>
                    <input type="text" class="form-control" name="question" id="field_question"
                        formControlName="question" />
                    <div
                        *ngIf="editForm.get('question').invalid && (editForm.get('question').dirty || editForm.get('question').touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('question').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        formControlName="description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_answer">Answer</label>
                    <jhi-key-input #keyInputField [isCompact]="true" [label]="" [showClearButton]="true"
                        [showHint]="false" [Device]="device" [values]="getValues()"
                        (valuesChanged)="onKeyInput($event)"></jhi-key-input>
                </div>


                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="SHORTCUT">SHORTCUT</option>
                        <option value="TEXT">TEXT</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_section">Course</label>
                    <select class="form-control" id="field_section" name="section" formControlName="courseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="courseOption.id"
                            *ngFor="let courseOption of courses; trackBy: trackSectionById">{{courseOption.name}}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_section">Section</label>
                    <select class="form-control" id="field_section" name="section" formControlName="sectionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sectionOption.id"
                            *ngFor="let sectionOption of filteredSections(); trackBy: trackSectionById">{{sectionOption.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
