<jhi-alert-error></jhi-alert-error>
<table class="table table-sm">
    <thead>
        <tr>
            <!--<th scope="col" style="width: 30%">#</th>-->
            <th scope="col" style="width: 5%">Order</th>
            <th scope="col" style="width: 30%">Name</th>
            <th scope="col" style="width: 30%">Description</th>
            <!--<th scope="col" style="width: 30%">ImageUrl</th>-->
            <th scope="col" style="width: 10%">Status</th>
            <th scope="col" style="width: 10%">Target Machine</th>
            <th scope="col" style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let section of sections">
            <!--
            <th scope="row">
                <input type="text" class="form-control" id="id" name="id" [(ngModel)]="section.id" readonly />
            </th>
            -->
            <th scope="row">
                <div class="d-flex flex-row">
                    <button type="button" class="btn btn-success" (click)="orderDown(section)">↑</button>
                    {{section.order}}
                    <button type="button" class="btn btn-success" (click)="orderUp(section)">↓</button>
                </div>
            </th>
            <th>
                <input type="text" class="form-control" name="name" id="field_name" [(ngModel)]="section.name"
                    required />
            </th>
            <th>
                <input type="text" class="form-control" name="description" id="field_description"
                    [(ngModel)]="section.description" />
            </th>
            <!--
                <th>
                    ImageUrl
                </th>
            -->
            <th>
                <select class="form-control" name="status" [(ngModel)]="section.status" id="field_status">
                    <option value="DRAFT">DRAFT</option>
                    <option value="PUBLISHED">PUBLISHED</option>
                </select>
            </th>
            <th>
                <select class="form-control" name="targetMachine" [(ngModel)]="section.targetMachine"
                    id="field_targetMachine">
                    <option value="ANY">ANY</option>
                    <option value="WIN">WIN</option>
                    <option value="MAC">MAC</option>
                </select>
            </th>
            <th>
                <div class="d-flex flex-row btn-group">
                    <a class="btn btn-success text-light" (click)="duplicate(section)">
                       Clone
                    </a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        (click)="openTasks(section)">
                        Task({{getTaskCount(section)}})
                    </button>
                    <a class="btn btn-danger text-light" (click)="remove(section)">
                        Remove
                    </a>
                </div>
            </th>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade modal-fullscreen" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Section: {{currentSection.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row pr-3 d-flex justify-content-end">
                    <button type="button" class="btn btn-success ml-2" (click)="addNewTask(currentSection)">Add</button>
                    <button type="button" class="btn btn-primary ml-2" data-dismiss="modal">Done</button>
                </div>
                <jhi-task-update [tasks]="getTasks(currentSection)" (onRemoveTask)="removeTask($event)">
                </jhi-task-update>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="addNewTask(currentSection)">Add</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>